@import '../swatch';

.cta-section {
	padding-top: 135px;
	padding-bottom: 235px;
	width: 520px;
	color: #ffffff;
	h1 {
		font-size: 60px;
		font-weight: 500;
		line-height: 65px;
	}
	p {
		margin: 20px 0;
		font-size: 24px;
	}
}

.cta-vague {
	color: $vague-yellow;
}
@media only screen and (max-width: 1026px) {
	.cta-section {
		width: 450px;
		h1 {
			font-size: 52px;
			line-height: 57px;
		}
		p {
			font-size: 20px;
		}
	}
}
@media only screen and (max-width: 768px) {
	.cta-section {
		padding-top: 12vw;
		padding-bottom: 15.5vw;
		width: 62.5vw;
		margin: 0 auto;

		h1 {
			font-size: 7.5vw;
			line-height: 8vw;
			text-align: center;
		}
		p {
			margin: 4vw 0;
			font-size: 4vw;
			line-height: 4.5vw;
			text-align: center;
		}
		.btn-pill {
			display: block;
			margin: 0 auto;
		}
	}
}
