@import '../swatch';

.form-container {
	padding-top: 65px;
	margin-left: 124px;

	.footer-header {
		margin-bottom: 15px;
		text-align: center;
	}

	form {
		display: inline-block;
		text-align: center;
		input {
			width: 300px;
			padding: 15px 11px;
			font-size: 16px;
			color: #000;
			margin: 0 0 15px 0;
			border: 1px solid #fff;
			border-radius: 12px;
			outline: none;
			background: $vague-almost-white;
		}
		textarea {
			width: 300px;
			padding: 15px 11px;
			font-size: 16px;
			color: #000;
			margin-bottom: 15px;
			border: 1px solid #fff;
			border-radius: 12px;
			outline: none;
			background: $vague-almost-white;
		}
		input::placeholder {
			font-family: 'Montserrat', sans-serif;
		}
		textarea::placeholder {
			font-family: 'Montserrat', sans-serif;
		}
		.btn-block {
			margin: 15px auto 0 auto;
			display: block;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 1026px) {
	.form-container {
		margin-left: 0;
	}
}

@media only screen and (max-width: 767px) {
	.form-container {
		margin: 0 auto;
		padding-bottom: 65px;
		text-align: center;
	}
	form {
		text-align: center;
		width: 87.5%;
	}
	input {
		width: 87.5% !important;
		max-width: 450px;
	}
	textarea {
		width: 87.5% !important;
		max-width: 450px;
	}
}
