@import '../swatch';

.services-text-section-container {
	background: $vague-almost-white;
}
.services-text-section {
	display: grid;
	grid-template-columns: 60% 5% 5%;
	grid-template-rows: 350px;
	padding: 100px 0;

	img:nth-of-type(2) {
		z-index: 2;
		width: 335px;
	}
	img:nth-of-type(3) {
		z-index: 0;
		align-self: end;
		width: 335px;
	}
}

.services-mobile {
	display: none;
}

.services-medium-large {
	display: block;
}

.services-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	h1 {
		font-size: 36px;
		font-weight: 400;
	}
	.bold-they {
		font-weight: 600;
	}
	.we-do-yellow {
		font-weight: 600;
		color: $vague-yellow;
	}
	p {
		width: 380px;
		font-size: 24px;
		margin: 20px 0;
		color: $vague-gray;
		font-weight: 300;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1026px) {
	.services-text-section {
		grid-template-rows: 275px;
		img:nth-of-type(2) {
			width: 275px;
		}
		img:nth-of-type(3) {
			width: 275px;
		}
	}
	.services-text {
		justify-content: space-between;
		h1 {
			font-size: 26px;
		}
		p {
			width: 295px;
			font-size: 18px;
		}
	}
}

@media only screen and (max-width: 767px) {
	.services-text-section {
		display: block;
		padding: 60px 0;

		img:first-of-type {
			display: none;
			width: 75%;
			border-radius: 12px;
			margin: 0 auto;
		}
		.services-medium-large {
			display: none;
		}
	}
	.services-text {
		h1 {
			font-size: 7.5vw;
			width: 100%;
			line-height: 8vw;
		}
		p {
			margin: 3vw auto;
			font-size: 4.5vw;
			font-weight: 300;
			width: 100%;
		}
		.btn-pill {
			display: block;
			margin: 10px 0;
		}
	}
}
